<div class="loading @(initialized ? "" : "hidden") @(isVisible ? "visible" : "")"></div>

@code {

    [Parameter] public bool isVisible { get; set; }

    bool initialized;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(100);
        initialized = true;
        StateHasChanged();
    }

}
