
<li class="interactable" @onclick="OnClick">
    @ChildContent
</li>

@inject IJSRuntime javascript

@code {

    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public Action onClick { get; set; }
    [Parameter] public Func<Task> onClickAsync { get; set; }
    [Parameter] public bool isEnabled { get; set; } = true;

    async Task OnClick()
    {
        await javascript.InvokeVoidAsync("closeMenu");

        onClick?.Invoke();

        await (onClickAsync?.Invoke() ?? Task.CompletedTask);
    }

}
