@inherits AppComponent

@if (sqlServer.databaseNames.Count > 0)
{
    <div data-group="Source Database">
        <div class="field">
            <label>Name</label>
            <select class="interactable" value="@sqlServer.oldDatabase" @onchange="OnChange">
                <option></option>
                @foreach (var database in sqlServer.databaseNames)
                {
                    <option>@database</option>
                }
            </select>
        </div>
    </div>
}
else
{
    <div data-group="Source Database">
        <div class="field">
            <label>Name</label>
            <select disabled>
                <option>@sqlServer.oldDatabase</option>
            </select>
        </div>
    </div>
}

@code {

    [Parameter] public EventCallback onChange { get; set; }

    async Task OnChange(ChangeEventArgs e)
    {
        sqlServer.oldDatabase = e.Value.ToString();

        await onChange.InvokeAsync();

        Refresh();
    }

}
