@inherits AppComponent

<div data-group="Connection Informations">
    <div class="field">
        <label>Hostname</label>
        <Input @bind-value="sqlServer.hostname" />
    </div>
    <div class="field">
        <label>Port</label>
        <InputNumber @bind-value="sqlServer.port" />
    </div>
    <div class="field">
        <label>Integrated Security</label>
        <Checkbox @bind-value="sqlServer.integratedSecurity" />
    </div>
    <div class="field">
        <label>Username</label>
        <Input @bind-value="sqlServer.username" isEnabled="!sqlServer.integratedSecurity" />
    </div>
    <div class="field">
        <label>Password</label>
        <Input @bind-value="sqlServer.password" type="password" isEnabled="!sqlServer.integratedSecurity" />
    </div>
    <div style="margin: 0 auto; ">
        @if (isConnected)
        {
            <Button onClickAsync="DisconnectAsync" isEnabled="session is not null">Disconnect</Button>
        }
        else
        {
            <Button onClickAsync="ConnectAsync" isEnabled="session is not null">Connect</Button>
        }
    </div>
</div>

@code {

    [Parameter] public PowerShellSession session { get; set; }

    [Parameter] public EventCallback onChange { get; set; }

    bool isConnected => sqlServer.databaseNames.Count > 0;

    Task ConnectAsync() => Run(async () =>
    {
        await sqlServer.FetchDatabaseNamesAsync();

        await onChange.InvokeAsync();

        Refresh();
    });

    async Task DisconnectAsync()
    {
        sqlServer.databaseNames.Clear();

        await onChange.InvokeAsync();

        Refresh();
    }

}
