<AssistantPage>
    <Title>Business Central: Server Instances<span>@session?.ToMarkupString()</span></Title>
    <Body>
        <BusinessCentralServerInstance groupTitle="Old Server Instance" serverInstance="remoteMachine.oldServerInstance" />
        <BusinessCentralServerInstance groupTitle="New Server Instance" serverInstance="remoteMachine.newServerInstance" />
    </Body>
    <BottomLeft><Button onClick="Back">Back</Button></BottomLeft>
    <BottomRight>
        <Button onClick="Next"
                isEnabled="isNextEnabled">
            Next
        </Button>
    </BottomRight>
</AssistantPage>

@code {

    const string NAV_PATH = @"C:\Program Files\Microsoft Dynamics 365 Business Central";

    static Config.BC.RemoteMachine remoteMachine
        => Config.Instance.bc.remoteMachine;

    [Parameter] public Action onBack { get; set; }
    [Parameter] public Action onNext { get; set; }

    bool isNextEnabled
        => remoteMachine.oldServerInstance.navAdminTool != string.Empty
        && remoteMachine.oldServerInstance.name != string.Empty
        && remoteMachine.newServerInstance.navAdminTool != string.Empty
        && remoteMachine.newServerInstance.name != string.Empty;

    PowerShellSession session;

    protected override async Task OnInitializedAsync()
    {
        await App.Instance.IncreaseBusinessAsync();

        session = await remoteMachine.GetSessionAsync();

        if (remoteMachine.navAdminTools.Count == 0)
        {
            await remoteMachine.FetchNavAdminToolsAsync();
        }
        
        await App.Instance.DecreaseBusinessAsync();
    }

    void Back()
    {
        onBack?.Invoke();
    }

    void Next()
    {
        onNext?.Invoke();
    }

}
