@inherits PageWithSession

<AssistantPage>
    <Title>
        Microsoft SQL Connection
        <span>@session?.ToMarkupString()</span>
    </Title>
    <Body>
        <MicrosoftSqlConnection session="session" onChange="database.RenderLater" />
        <MicrosoftSqlConnectionDatabase @ref="database" />
    </Body>
    <BottomLeft>
        <Button onClickAsync="GotoAsync<Page_RemoteConnection>">
            Back
        </Button>
    </BottomLeft>
    <BottomRight>
        <Button onClickAsync="GotoAsync<Page_MicrosoftSqlBackupAndRestore>"
                isEnabled="isNextEnabled">
            Next
        </Button>
    </BottomRight>
</AssistantPage>

@code {

    MicrosoftSqlConnectionDatabase database;

    bool isNextEnabled
        => sqlServer.databaseNames.Count > 0
        && sqlServer.oldDatabase != string.Empty;

}
