@inherits Page

<AssistantPage isLoading="!isInitialized">
    <Title>
        Summary
    </Title>
    <Body>

    </Body>
    <Bottom>
        <Button onClickAsync="GotoAsync<Page_Welcome>"
                styleClass="negative">
            Restart
        </Button>
    </Bottom>
</AssistantPage>
