@inherits PageWithSession

<AssistantPage>
    <Title>
        Business Central: Server Instances
        <span>@session?.ToMarkupString()</span>
    </Title>
    <Body>
        <BusinessCentralServerInstance groupTitle="Old Server Instance"
                                       serverInstance="serverInstance" />
    </Body>
    <BottomLeft>
        <Button onClickAsync="GotoAsync<Page_MicrosoftSqlBackupAndRestore>">
            Back
        </Button>
    </BottomLeft>
    <BottomRight>
        <Button onClickAsync="GotoAsync<Page_BusinessCentralServerConfiguration>"
                isEnabled="isNextEnabled">
            Next
        </Button>
    </BottomRight>
</AssistantPage>

@code {

    static Config.BC.RemoteMachine.ServerInstance serverInstance
        => remoteMachine.oldServerInstance;

    bool isNextEnabled
        => serverInstance.navAdminTool != string.Empty
        && serverInstance.name != string.Empty;

    protected override async Task OnInitAsync()
    {
        await base.OnInitAsync();

        if (remoteMachine.navAdminTools.Count == 0)
        {
            await remoteMachine.FetchNavAdminToolsAsync();
        }
    }

}
