<AssistantPage>
    <Title>Microsoft SQL Connection<span>@PowerShellSessionManager.DefaultSession.ToMarkupString()</span></Title>
    <Body>
        <p>There isn't any description on this page yet.</p>
        <div data-group="Connection Informations">
            <div class="field">
                <label>Hostname</label>
                <Input @bind-value="mssql.hostname" />
            </div>
            <div class="field">
                <label>Port</label>
                <InputNumber @bind-value="mssql.port" />
            </div>
            <div class="field">
                <label>Integrated Security</label>
                <Checkbox @bind-value="mssql.integratedSecurity" />
            </div>
            <div class="field">
                <label>Username</label>
                <Input @bind-value="mssql.username" isEnabled="!mssql.integratedSecurity" />
            </div>
            <div class="field">
                <label>Password</label>
                <Input @bind-value="mssql.password" type="password" isEnabled="!mssql.integratedSecurity" />
            </div>
            <div style="margin: 0 auto; ">
                @if (app.mssqlDatabases.Count == 0)
                {
                    <Button onClickAsync="Connect">Connect</Button>
                }
                else
                {
                    <Button onClick="Disconnect">Disconnect</Button>
                }
            </div>
        </div>
        @if (app.mssqlDatabases.Count > 0)
        {
            <div data-group="Database">
                <div class="field">
                    <label>Name</label>
                    <select class="interactable" @bind="mssql.database">
                        <option></option>
                        @foreach (var database in app.mssqlDatabases)
                        {
                            <option>@database</option>
                        }
                    </select>
                </div>
            </div>
        }
        else if (mssql.database != string.Empty)
        {
            <div data-group="Database">
                <div class="field">
                    <label>Name</label>
                    <select disabled>
                        <option>@mssql.database</option>
                    </select>
                </div>
            </div>
        }
    </Body>
    <BottomLeft><Button onClick="Back">Back</Button></BottomLeft>
    <BottomRight><Button onClick="Next" isEnabled="mssql.database != string.Empty">Next</Button></BottomRight>
</AssistantPage>

@code {

    static App app => App.Instance;

    static Config.MSSQL mssql => Config.Instance.mssql;

    [Parameter] public Action onBack { get; set; }
    [Parameter] public Action onNext { get; set; }

    async Task Connect()
    {
        await app.IncreaseBusinessAsync();

        Disconnect();

        var scriptBlock = mssql.CreateScriptBlock(
            command: "Get-SqlDatabase",
            suffix: "| Select Name",
            useCredentialArg: true
        );

        var result = await PowerShellSessionManager.DefaultSession.RunScriptAsync(scriptBlock);
        app.mssqlDatabases.AddRange(result.returnValue.Select(x => (x as dynamic).Name as string));

        if (!app.mssqlDatabases.Contains(mssql.database))
            mssql.database = string.Empty;

        await app.DecreaseBusinessAsync();
    }

    void Disconnect()
    {
        app.mssqlDatabases.Clear();

        this.RenderLater();
    }

    void Back()
    {
        onBack?.Invoke();
    }

    void Next()
    {
        onNext?.Invoke();
    }

}
