@inherits PageWithSession

<AssistantPage>
    <Title>
        Microsoft SQL Connection
        <span>@session?.ToMarkupString()</span>
    </Title>
    <Body>
        <p>There isn't any description on this page yet.</p>
        <MicrosoftSqlConnection session="session" />
        <MicrosoftSqlConnectionDatabase />
    </Body>
    <BottomLeft>
        <Button onClickAsync="GotoAsync<Page_RemoteConnection>">
            Back
        </Button>
    </BottomLeft>
    <BottomRight>
        <Button onClickAsync="GotoAsync<Page_MicrosoftSqlBackupAndRestore>"
                isEnabled="isNextEnabled">
            Next
        </Button>
    </BottomRight>
</AssistantPage>

@code {

    bool isNextEnabled
        => sqlServer.databaseNames.Count > 0
        && sqlServer.oldDatabase != string.Empty;

}
