@inherits Page

<AssistantPage isLoading="!isInitialized">
    <Title>Remote Connection</Title>
    <Body>
        <div data-group="Connection Informations">
            <div class="field">
                <label>Hostname</label>
                <Input @bind-value="remoteMachine.Hostname" />
            </div>
            <div class="field">
                <label>Username</label>
                <Input @bind-value="remoteMachine.Username" />
            </div>
            <div class="field">
                <label>Password</label>
                <Input @bind-value="remoteMachine.Password" type="password" />
            </div>
        </div>
        <br>
    </Body>
    <BottomLeft>
        <Button onClickAsync="GotoAsync<Page_Welcome>">
            Back
        </Button>
    </BottomLeft>
    <BottomRight>
        <Button onClickAsync="Next">
            Next
        </Button>
    </BottomRight>
</AssistantPage>

@code {

    Task Next() => Run(async () =>
    {
        var session = await remoteMachine.GetSessionAsync();

        if (session.HasSession)
        {
            await GotoAsync<Page_MicrosoftSqlConnection>();
        }
    });

}
