<AssistantPage>
    <Title>Business Central: Server Instances<span>@session?.ToMarkupString()</span></Title>
    <Body>
        <BusinessCentralServerInstance serverInstance="remoteMachine.oldServerInstance" />
        <BusinessCentralServerInstance serverInstance="remoteMachine.newServerInstance" />
    </Body>
    <BottomLeft><Button onClick="Back">Back</Button></BottomLeft>
    <BottomRight><Button onClick="Next" isEnabled="false">Next</Button></BottomRight>
</AssistantPage>

@code {

    const string NAV_PATH = @"C:\Program Files\Microsoft Dynamics 365 Business Central";

    static Config.BC.RemoteMachine remoteMachine
        => Config.Instance.bc.remoteMachine;

    [Parameter] public Action onBack { get; set; }
    [Parameter] public Action onNext { get; set; }

    PowerShellSession session;

    protected override async Task OnInitializedAsync()
    {
        await App.Instance.IncreaseBusinessAsync();

        session = await remoteMachine.GetSessionAsync();

        if (remoteMachine.navAdminTools.Count == 0)
        {
            await remoteMachine.FetchNavAdminToolsAsync();
        }
        
        await App.Instance.DecreaseBusinessAsync();
    }

    void Back()
    {
        onBack?.Invoke();
    }

    void Next()
    {
        onNext?.Invoke();
    }

}
