@inherits Page

<AssistantPage>
    <Title>
        Business Central: Server Configurations
    </Title>
    <Body>
        <BusinessCentralServerConfiguration serverInstance="remoteMachine.oldServerInstance" />
        <BusinessCentralServerConfiguration serverInstance="remoteMachine.newServerInstance" />
    </Body>
    <Bottom>
        <Button isEnabled="false">
            Apply
        </Button>
    </Bottom>
</AssistantPage>

@code {

    static void TransferBaseConfiguration(
        BusinessCentralServerConfiguration source,
        BusinessCentralServerConfiguration destination
    )
    {
        foreach (var key in new string[]
        {
            "DatabaseServer",
            "DatabaseInstance",
            "ServicesCertificateThumbprint",
            "ServicesCertificateValidationEnabled",
            "PublicWebBaseUrl",
            "ExtensionAllowedTargetLevel",
            "ExtendedSecurityTokenLifetime",
            "DisableTokenSigningCertificateValidation",
            "ClientServicesCredentialType",
            "UIElementRemovalOption",
            "ClientServicesPort",
        })
        {
            var sourceEntry = source.entries.FirstOrDefault(x => x.key == key);
            var destinationEntry = destination.entries.FirstOrDefault(x => x.key == key);
            sourceEntry.newValue = destinationEntry.newValue;
        }
    }

    static void LoadSslConfiguration(BusinessCentralServerConfiguration configuration)
    {
        foreach (var keyValuePair in new string[][] {
            [ "ClientServicesSSLEnabled", "True" ],
            [ "SOAPServicesSSLEnabled", "True" ],
            [ "ODataServicesSSLEnabled", "True" ],
            [ "ODataServicesEnabled", "True" ]
        })
        {
            var entry = configuration.entries.FirstOrDefault(x => x.key == keyValuePair[0]);
            entry.newValue = keyValuePair[1];
        }
    }

}
