@inherits Page

<AssistantPage>
    <Title>Welcome</Title>
    <Body>
        <p>There aren't any informations on this page yet.</p>
        <br>
    </Body>
    <Bottom>
        <Button onClickAsync="GotoAsync<Page_RemoteConnection>">
            Continue
        </Button>
    </Bottom>
</AssistantPage>
