<AssistantPage>
    <Title>Remote Connection</Title>
    <Body>
        <p>There isn't any description on this page yet.</p>
        <div data-group="Connection Informations">
            <div class="field">
                <label>Hostname</label>
                <Input @bind-value="remoteMachine.Hostname" />
            </div>
            <div class="field">
                <label>Username</label>
                <Input @bind-value="remoteMachine.Username" />
            </div>
            <div class="field">
                <label>Password</label>
                <Input @bind-value="remoteMachine.Password" type="password" />
            </div>
        </div>
        <br>
    </Body>
    <BottomLeft><Button onClick="Back">Back</Button></BottomLeft>
    <BottomRight><Button onClickAsync="Next">Next</Button></BottomRight>
</AssistantPage>

@code {

    static Config.BC.RemoteMachine remoteMachine => Config.Instance.bc.remoteMachine;

    [Parameter] public Action onBack { get; set; }
    [Parameter] public Action onNext { get; set; }

    void Back()
    {
        onBack?.Invoke();
    }

    async Task Next()
    {
        await App.Instance.IncreaseBusinessAsync();

        if (PowerShellSessionManager.DefaultSession.HasSession)
        {
            onNext?.Invoke();
        }

        await App.Instance.DecreaseBusinessAsync();
    }

}
