@inherits Page

<AssistantPage>
    <Title>Welcome</Title>
    <Body>

    </Body>
    <Bottom>
        <Button onClickAsync="GotoAsync<Page_RemoteConnection>">
            Continue
        </Button>
    </Bottom>
</AssistantPage>
