@font-face {
    font-family: Rubik;
    src: url(rubik.ttf);
}

@mixin display-flex-column {
    display: flex;
    flex-direction: column;
}

@mixin display-flex-column-centered {
    @include display-flex-column;
    justify-content: center;
    align-items: center;
}

@mixin backdrop-filter-disabled {
    backdrop-filter: brightness(.75) blur(.1rem);
}

::-webkit-scrollbar {
    width: .25rem;
    height: .25rem;

    &-corner {
        background-color: rgba(white, 0.1);
    }

    &-track {
        background-color: rgba(white, 0.1);
    }

    &-thumb {
        background-color: rgba(white, 0.2);
    }

    &-thumb:hover {
        background-color: rgba(white, 0.2);
    }
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

html, body {
    height: 100vh;
}

body {
    margin: 0;
    background-color: #162633;
    @include display-flex-column;
    font-size: .875em;
}

body, button, input {
    font-family: Rubik;
    color: white;
}

button, input {
    font-size: inherit;
}

h1, h2, h3, h4, h5 {
    outline: none;
    font-weight: normal;
    margin: 0;
}

h1 {
    font-size: 1.75em;
    margin-block: .5rem;
}

h2 {
    font-size: 1.375em;
    margin: 1.5rem 0 .25rem;
}

p {
    line-height: 1.5;
    margin: .25rem 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

pre {
    margin: .5rem 0;
    padding: .25rem;
    background: rgba(black, .25);
    border: 1px solid black;
    max-height: 15em;
    overflow: hidden scroll;
}

a, .link {
    color: orange;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.selectable-text, pre, .mono {
    user-select: text;
}

pre, .mono {
    font-family: monospace;
    font-size: .875rem;
}

.field {
    display: flex;
    align-items: center;
    gap: .5rem;

    label:has(+ input) {
        flex: 0 0 6rem;
        text-align: right;
        margin-right: 1rem;
    }
}

input {
    border: none;
    outline: none;
}

input:not([type=checkbox]) {
    background-color: rgba(white, .1);
    flex: 1;
    padding: .5rem 1rem;
    border-radius: 100rem;
    min-width: 0;
}

input[type=checkbox] {
    height: 1.25rem;
    aspect-ratio: 1;
}

button {
    padding: .5rem 1rem;
    min-width: 7rem;
    border-radius: 100rem;
    border: none;
    background-color: #357;
    filter: brightness(.875);

    &:hover {
        filter: brightness(1.125);
    }

    &:active:not(:disabled) {
        filter: brightness(1.325);
    }
}

.loading {
    display: block;
    background-image: url(loading.svg);
    background-size: 100%;
    height: 100%;
    aspect-ratio: 1;
}

#root {
    flex: 1;
    display: flex;
}

#root-content {
    flex: 2;
    overflow: hidden;
    @include display-flex-column;
    position: relative;
}

#menu {
    background-color: #234;
    user-select: none;
}

#menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    @include backdrop-filter-disabled;
    transition: all .125s;
    pointer-events: none;
    opacity: 0;
}

#menu:has(li.visible) + #menu-overlay {
    pointer-events: all;
    opacity: 1;
}

#menu {
    font-size: .95em;
    flex: 0;
    z-index: 3;

    & > ul {
        display: flex;

        li {
            padding: .325rem .5rem .25rem;

            &.visible, &:hover {
                background-color: rgba(white, .2);
            }

            &.visible > ul {
                display: flex;
            }

            & > ul {
                margin: .275rem 0 0 -.5rem;
                padding: .25rem 0;
                display: none;
                flex-direction: column;
                position: absolute;
                gap: .125rem;
                background-color: #292939;

                & > li {
                    padding: .375rem .75rem .375rem .5rem;

                    &:hover {
                        background-color: rgba(white, .2);
                    }

                    &:active {
                        background-color: rgba(white, .4);
                    }
                }
            }
        }
    }
}

[flex-center] {
    display: flex;
    justify-content: center;
}

[data-page] {
    flex: 1 0 0;
    overflow: hidden auto;
    @include display-flex-column;
    padding: 1.5rem;
    gap: 1.25rem;

    & > div:has(.loading) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .25s;
        pointer-events: none;
        opacity: 0;

        & > .loading {
            position: absolute;
            top: 0;
            right: 0;
            height: 1.5rem;
        }
    }
}

.disabled [data-page] > div:has(.loading) {
    pointer-events: all;
    opacity: 1;
}

[data-page=Page_Welcome] {
    gap: .75rem;

    li {
        margin: .5rem;
        padding: .5rem .5rem;
        background-color: rgba(white, .1);
        line-height: 1.5;
    }
}

:disabled,
li.disabled,
.disabled .interactable,
.disabled #menu {
    opacity: .5;
    pointer-events: none;
}

.update-available-message {
    padding: .25rem .75rem;
    background-color: #304050;
    right: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    text-shadow: 0 0 1rem white;

    button {
        animation: accent .5s infinite alternate;
        padding: .25rem .75rem;
        min-width: 0;

        &:hover {
            background-color: #012;
        }
    }
}

@keyframes blink {
    from {
        color: rgba(white, .5);
    }

    to {
        color: rgba(white, 1);
    }
}

@keyframes accent {
    0%, 75% {
        scale: 1;
        outline: 1px solid rgba(white, .25);
    }

    100% {
        scale: 1.1;
        outline: 1px solid rgba(white, .5);
    }
}

.dialog {
    z-index: 10;
}

.dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include backdrop-filter-disabled;
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 0;
    pointer-events: none;

    &, &-box {
        transition: opacity 120ms, scale 120ms;
    }

    &.visible {
        opacity: 1;
        pointer-events: all;

        .dialog-box {
            scale: 1;
        }
    }

    &-box {
        width: 20rem;
        max-width: calc(100vw - 2rem);
        max-height: calc(100vh - 2rem);
        overflow: hidden;
        background-color: #111;
        border-radius: .25rem;
        display: flex;
        flex-direction: column;
        scale: 1.05;
        
        &-title {
            padding: .625rem .75rem .5rem;
            background-color: #222;
        }

        &-content {
            padding: .75rem 1rem .5rem;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: .25rem;
            overflow: auto;

            pre {
                background-color: #333;
                line-break: anywhere;
                text-wrap: wrap;
                overflow: auto;
                font-size: 1.31em;
                margin: 0;
            }

            ul {
                @include display-flex-column;
                gap: .25rem;

                li {
                    border: 1px solid rgba(white, 0);
                    padding: .325rem .425rem;

                    &:hover {
                        border-color: rgba(white, .25);
                        background: rgba(white, .1);
                    }

                    &.selected {
                        border-color: rgba(white, .5);
                        background: rgba(white, .1);
                    }
                }

            }
        }

        &-bottom {
            display: flex;
            gap: 1rem;
            padding: .25rem 1rem 1rem;

            button {
                min-width: 0;
                flex: 1;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            button + button {
                background-color: transparent;
                flex: unset;
            }
        }
    }
}

.assistant-page-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    &-content {
        flex: 1 0 0;
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    &-bottom {
        flex: 0;
        display: flex;
        justify-content: center;
        gap: .5rem;
    }
}

.log-view {
    box-sizing: border-box;
    flex: 0 0 30rem;
    height: 100vh;
    overflow: hidden scroll;
    padding: .325rem;
    @include display-flex-column;
    gap: .325rem;
    scroll-behavior: smooth;
    background-color: #112029;

    &-entry {
        display: flex;
        align-items: flex-start;
        gap: .125rem;
        padding: .125rem;
        background-color: #fff1;
        
        &-time {
            flex: 0 0 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: .125rem;
        }

        &-type {
            flex: 0;
            display: flex;
            padding: .125rem .25rem;
            border-radius: .25rem;
            margin-right: .25rem;
            
            &-info {
                background-color: darkslategray;
            }

            &-pending {
                background-color: slategray;
            }

            &-success {
                background-color: forestgreen;
            }
            
            &-warning {
                background-color: darkgoldenrod;
            }

            &-error {
                background-color: darkred;
            }
        }

        &-message {
            flex: 1;
            margin-top: .125rem;
            max-height: 12.25rem;
            overflow: auto;
        }
    }
}
