@font-face {
    font-family: Rubik;
    src: url(rubik.ttf);
}

@font-face {
    font-family: DejaVu;
    src: url(dejavu.ttf);
}

@mixin display-flex-column {
    display: flex;
    flex-direction: column;
}

@mixin display-flex-column-centered {
    @include display-flex-column;
    justify-content: center;
    align-items: center;
}

@mixin backdrop-filter-disabled {
    backdrop-filter: brightness(.75) blur(.1em);
}

::-webkit-scrollbar {
    width: .25em;
    height: .25em;

    &-corner {
        background-color: rgba(white, 0.1);
    }

    &-track {
        background-color: rgba(white, 0.1);
    }

    &-thumb {
        background-color: rgba(white, 0.2);
    }

    &-thumb:hover {
        background-color: rgba(white, 0.2);
    }
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

html, body {
    height: 100vh;
}

body {
    margin: 0;
    background-color: #162633;
    @include display-flex-column;
    font-size: .875em;
}

body, button, input, select {
    font-family: Rubik;
    color: white;
}

button, input, select {
    font-size: inherit;
}

button.positive {
    background-color: green;
}

button.negative {
    background-color: darkred;
}

h1, h2, h3, h4, h5 {
    outline: none;
    font-weight: normal;
    margin: 0;
}

h1 {
    font-size: 1.75em;
    margin-block: .5em 0;

    & > span {
        float: right;
        color: orange;
        font-size: 1rem;
        translate: 0 .5em;
    }
}

h2 {
    font-size: 1.375em;
    margin: 1.5em 0 .25em;
}

p {
    line-height: 1.5;
    margin: .25em 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a, .link {
    color: orange;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.selectable-text, pre, .mono {
    user-select: text;
}

pre, .mono {
    font-family: monospace;
    font-size: .875em;
}

.field {
    display: flex;
    align-items: center;
    gap: .5em;

    label:has(+ input),
    label:has(+ select) {
        text-align: right;
        margin-right: 1em;
        width: 11em;
        white-space: nowrap;
    }

    label + input,
    label + select {
        margin-right: 2em;
    }
}

input, select {
    border: none;
    outline: none;
}

input:not([type=checkbox]),
select {
    background-color: rgba(white, .1);
    flex: 1;
    padding: .5em 1em;
    border-radius: 100em;
    display: block;
    min-width: 0;
    width: 15em;
    max-width: 100%;

    &:focus {
        outline: .125em solid rgba(white, .3);
        background-color: rgba(white, .15);
    }
}

select {
    appearance: none;

    option {
        background-color: #111923;
    }
}

input[type=checkbox] {
    height: 1.25em;
    aspect-ratio: 1;
}

button {
    padding: .5em 1em;
    min-width: 7em;
    border-radius: 100em;
    border: none;
    background-color: #357;
    filter: brightness(.875);
    outline: none;

    &:hover {
        filter: brightness(1.125);
    }

    &:active:not(:disabled) {
        filter: brightness(1.325);
    }
}

.loading {
    display: block;
    background-image: url(loading.svg);
    background-size: 100%;
    aspect-ratio: 1;
}

#root {
    flex: 1;
    display: flex;

    &-content {
        flex: 2;
        overflow: hidden;
        @include display-flex-column;
        position: relative;

        & > .loading {
            position: absolute;
            top: .1275em;
            right: .175em;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .25s;
            height: 1.25em;
            z-index: 3;
            opacity: 0;
        }
        
        &.disabled:not(:has([data-page] .loading)) > .loading {
            opacity: 1;
        }
    }
}

#menu {
    background-color: #234;
    user-select: none;
    font-size: .95em;
    flex: 0;
    z-index: 2;

    &-overlay {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include backdrop-filter-disabled;
        transition: all .125s;
        pointer-events: none;
        opacity: 0;
    }

    &:has(li.visible) + #menu-overlay {
        pointer-events: all;
        opacity: 1;
    }

    & > ul {
        display: flex;

        li {
            padding: .325em .5em .25em;

            &.visible, &:hover {
                background-color: rgba(white, .2);
            }

            &.visible > ul {
                display: flex;
            }

            & > ul {
                margin: .275em 0 0 -.5em;
                padding: .25em 0;
                display: none;
                flex-direction: column;
                position: absolute;
                gap: .125em;
                background-color: #292939;

                & > li {
                    padding: .375em .75em .375em .5em;

                    &:hover {
                        background-color: rgba(white, .2);
                    }

                    &:active {
                        background-color: rgba(white, .4);
                    }
                }
            }
        }
    }
}

[flex-center] {
    display: flex;
    justify-content: center;
}

[data-page] {
    flex: 1 0 0;
    overflow: hidden auto;
    @include display-flex-column;
    gap: 1.25em;
    box-sizing: border-box;
    padding: 1.5em;
    margin: 0 auto .5em;
    width: 60em;
    max-width: 100%;

    .loading {
        width: 3em;
        margin: auto;
        opacity: .7;
    }
}

[data-page=Page_Welcome] {
    gap: .75em;

    li {
        margin: .5em;
        padding: .5em .5em;
        background-color: rgba(white, .1);
        line-height: 1.5;
    }
}

:disabled,
li.disabled,
.disabled .interactable {
    opacity: .5;
    pointer-events: none;
}

.update-available-message {
    padding: .25em .75em;
    background-color: #304050;
    right: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5em;
    text-shadow: 0 0 1em white;

    button {
        animation: update-button-animation .5s infinite alternate;
        padding: .25em .75em;
        min-width: 0;

        &:hover {
            background-color: #012;
        }
    }
}

@keyframes update-button-animation {
    0%, 75% {
        scale: 1;
        outline: 1px solid rgba(white, .25);
    }

    100% {
        scale: 1.1;
        outline: 1px solid rgba(white, .5);
    }
}

.assistant-page-body {
    flex: 1;
    @include display-flex-column;
    gap: 1.5em;
    
    &-content {
        flex: 1 0 0;
        @include display-flex-column;
        justify-content: center;
        overflow: hidden;
        padding-bottom: 1.5em;
    }
    
    &-inner-content {
        @include display-flex-column;
        align-items: center;
        gap: 1.5em;
        overflow: auto;
    }

    &-bottom {
        padding-bottom: .25em;
        flex: 0;
        display: flex;
        justify-content: center;
        gap: .5em;
    }
}

[data-group]:not([data-group=""]) {
    border: .075em solid #fff1;
    border-radius: .5em;
    background-color: #ffffff06;
    padding: 1em;
    @include display-flex-column;
    gap: .5em;
    margin-top: 2em;

    &::before {
        content: attr(data-group);
        color: orange;
        border: .075em solid #fff1;
        border-radius: .5em;
        background-color: #234;
        width: fit-content;
        padding: .1em .625em 0;
        line-height: 2;
        margin-top: -2em;
    }
}

.log-view {
    box-sizing: border-box;
    flex: 0 0 30em;
    height: 100vh;
    overflow: hidden scroll;
    @include display-flex-column;
    gap: .325em;
    scroll-behavior: smooth;
    background-color: #112029;
    padding: .325em;
    
    &-entry {
        display: flex;
        align-items: flex-start;
        gap: .125em;
        padding: .125em;
        background-color: #fff1;
        
        &-time {
            flex: 0 0 3em;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: .125em;
        }

        &-type {
            flex: 0;
            display: flex;
            padding: .125em .25em;
            border-radius: .25em;
            margin-right: .25em;
            font-size: .9em;

            &-info      { background-color: #123; }
            &-pending   { background-color: #579; }
            &-success   { background-color: #282; }
            &-warning   { background-color: #a62; }
            &-error     { background-color: #800; }
            &-exception { background-color: #906; }
            &-script    { background-color: #066; }
            &-result    { background-color: #099; }
        }

        &-message {
            flex: 1;
            margin-top: .125em;
            max-height: 12.25em;
            overflow: auto;
        }
        
        &:has(&-type-exception) &-message {
            white-space: nowrap;
        }

        &:has(&-type-script) &-message,
        &:has(&-type-result) &-message {
            font-family: DejaVu;
            font-size: .875em;
            line-height: 1.5;
        }

        &:has(&-type-script) &-message {
            color: #0cf;
        }

        &:has(&-type-result) &-message {
            color: #9de;
        }
    }
}

.table {
    height: 100%;
    @include display-flex-column;

    &-section {
        & > div {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            
            & > div {
                overflow: auto hidden;
                padding: .25em .5em;
                
                &::-webkit-scrollbar {
                    width: 0;
                    height: 0;
                }
                
                & > button {
                    margin: 0;
                    padding: .25em .825em;
                    min-width: 0;
                }
            }
        }

        &-header {
            flex: 0;
            background-color: rgba(black, .3);
            text-transform: uppercase;
            padding: .5em 2.5em .25em .25em;
            
            & > div {
                font-size: .75em;
            }
        }

        &-content {
            flex: 1;
            overflow: hidden scroll;

            & > div {
                background-color: rgba(white, .05);
                
                &:nth-child(odd) {
                    background-color: rgba(white, .1);
                }

                &:hover {
                    background-color: rgba(white, .2);
                }

                &:has([data-start-type="Disabled"]),
                &:has([data-status="Stopped"]) {
                    color: rgba(white, .5);
                }

                &:has([data-start-type="Automatic"]) {

                    &:has([data-status="Stopped"]) {
                        color: #f66;
                    }

                    &:has([data-status="Running"]) {
                        color: #3f6;
                    }
                }

                & > div {
                    &::after {
                        text-transform: uppercase;
                        font-size: .8em;
                    }

                    &[data-start-type]::after {
                        content: attr(data-start-type);
                    }

                    &[data-status]::after {
                        content: attr(data-status);
                    }
                }
            }
        }
    }
}
