
<div id="root-content" class="@(app.IsBusy() ? "disabled" : "")">
    <div class="loading"></div>
    <Menu />
    @if (app.Update?.available ?? false)
    {
        <div class="update-available-message">
            New version available<br />
            <Button onClickAsync="app.PerformUpdate">Update</Button>
        </div>
    }
    <div data-page="@(page)">
        @switch (page)
        {
            case nameof(Page_Welcome):
                <Page_Welcome onContinue="() => page = nameof(Page_RemoteConnection)" />
                break;

            case nameof(Page_RemoteConnection):
                <Page_RemoteConnection onBack="() => page = nameof(Page_Welcome)"
                                       onNext="() => page = nameof(Page_Services)" />
                break;

            case nameof(Page_Services):
                <Page_Services onBack="() => page = nameof(Page_RemoteConnection)"
                               onNext="() => page = nameof(Page_MicrosoftSqlConnection)" />
                break;

            case nameof(Page_MicrosoftSqlConnection):
                <Page_MicrosoftSqlConnection onBack="() => page = nameof(Page_Services)"
                                             onNext="() => page = nameof(Page_MicrosoftSqlBackup)" />
                break;

            case nameof(Page_MicrosoftSqlBackup):
                <Page_MicrosoftSqlBackup onBack="() => page = nameof(Page_MicrosoftSqlConnection)"
                                         onNext="() => page = nameof(Page_BCInstance)" />
                break;

            case nameof(Page_BCInstance):
                <Page_BCInstance onBack="() => page = nameof(Page_MicrosoftSqlBackup)"
                                 onNext="() => page = nameof(Page_Migration)" />
                break;

            case nameof(Page_Migration):
                <Page_Migration onCancel="() => page = nameof(Page_RemoteConnection)" />
                break;
        }
    </div>
</div>

@if (app.LogViewVisible)
{
    <LogView />
}

@using Directory = System.IO.Directory
@using File = System.IO.File
@using Path = System.IO.Path

@code {

    public static Root Instance { get; private set; }

    static App app => App.Instance;

    string _page = nameof(Page_Welcome);

    public string page
    {
        get
        {
            return _page;
        }
        set
        {
            if (_page == value)
                return;

            _page = value;

            this.RenderLater();
        }
    }

    protected override void OnInitialized()
    {
        Instance = this;

        app.mainForm.Activated += (_, _) => this.RenderLater();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            app.mainForm.OnAfterFirstRender();
        }
    }

}
